<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rob McCarthy MSISPM &#39;20</title>
</head>
<body>
	<div class="content">
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="" name="description">
		<meta content="" name="keywords">
		<meta content="noodp" name="robots">
		<link href="/posts/" rel="canonical">
		<link href="/assets/style.css" rel="stylesheet">
		<link href="/img/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
		<link href="/img/favicon/orange.png" rel="shortcut icon">
		<meta content="summary" name="twitter:card">
		<meta content="Posts :: Rob McCarthy - rmccarth@andrew.cmu.edu — M.S. Information Security Policy and Management &#39;20" name="twitter:title">
		<meta content="" name="twitter:description">
		<meta content="/" name="twitter:site">
		<meta content="" name="twitter:creator">
		<meta content="" name="twitter:image">
		<meta content="en" property="og:locale">
		<meta content="website" property="og:type">
		<meta content="Posts :: Rob McCarthy - rmccarth@andrew.cmu.edu — M.S. Information Security Policy and Management &#39;20" property="og:title">
		<meta content="" property="og:description">
		<meta content="/posts/" property="og:url">
		<meta content="Posts" property="og:site_name">
		<meta content="" property="og:image">
		<meta content="2048" property="og:image:width">
		<meta content="1024" property="og:image:height">
		<div class="container">
			<header class="header">
				<div class="header__inner">
					<div class="header__logo">
						<a href="/">
						<div class="logo">
							Rob McCarthy
						</div></a>
					</div>
					<div class="menu-trigger">
						# whoami
					</div>
				</div>
				<nav class="menu">
					<span><b>Carnegie Mellon University |</b></span> <span><b>M.S. Information Security Policy and Management '20</b></span>
					<div class="menu__inner menu__inner--desktop" style="margin-left: 2em">
						<font size="2">rmccarth@andrew.cmu.edu | <a class="twitter-mention-button" data-show-count="false" href="https://twitter.com/intent/tweet?screen_name=slixperi&ref_src=twsrc%5Etfw">Tweet to @slixperi</a>
						<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
						</script> | Hackthebox: slixperi | GitHub: rmccarth</font>
					</div>
					<hr style="height:5pt; visibility:hidden;">
					<div class="menu__inner menu__inner--mobile" style="margin-left: 2em">
						rmccarth@andrew.cmu.edu | Twitter: @slixperi | github: https://github.com/rmccarth
					</div>
					<div align="center"><img alt="developer" height="200" src="/img/developer.png" width="200"></div>
					<hr style="height:5pt; visibility:hidden;">
					<div align="center">
						<b><font size="4">$ ls</font></b>
					</div>
					<hr style="height:5pt; visibility:hidden;">
					<font size="2"><a href="https://docs.google.com/document/d/1d8WVlhjHojD3yUNWfCEn3Rjkz_jKgIgU_ipohEweJkU/edit?usp=sharing">Analysis of Web Tracking and the Efficacy of Ad-Blockers</a><br>
					<br></font>
					<div>
						<font size="2"><a href="https://link.medium.com/kvJKW6B0L2">rysnc Multiple Virtual Machines for Data Consistency</a><br>
						<br>
						<a href="https://link.medium.com/WRuyuJW0L2">Network Flow Analysis | System for Internet Level Knowledge</a><br>
						<br>
						<a href="https://link.medium.com/GEMBEm60L2">Linux Command Line for Penetration Testing</a><br>
						<br>
						<a href="https://link.medium.com/gC4j3cc1L2">Post-exploitation with Meterpreter</a><br>
						<br></font>
					</div>
					<div align="center">
						<b><font size="4">$ pwd</font></b>
						<div style="margin-left: 2em">
							PortSwigger Academy | Craft (HTB) | KringleCon 2019 Writeup | MQTT + Raspberry Pi + Particle Photon Noise-Monitor | Postman Writeup (HTB) | Elasticsearch Tips and Tricks | Hack the Box Tips and Tricks
						</div>
					</div>
				</nav>
			</header>
			<div class="content">
				<div class="posts">
					<div class="post on-list">
						<h1 class="post-title"><a href="/posts/my-first-post/"></a></h1>
						<div class="post-meta">
							<span class="post-date">Updated 2019-12-27</span>
						</div>
						<div class="post-content"></div>
						<div>
							<!--<a class="read-more button"

        href="/posts/my-first-post/">Read more →</a>-->
						</div>
					</div>
					<div class="pagination">
						<div class="pagination__buttons"></div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="footer__inner">
					<span>rmccarth@andrew.cmu.edu</span>
					<div class="copyright">
						<br>
						<br>
						<span>© 2019 Powered by <a href="http://gohugo.io">Hugo</a></span>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
